.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 118px;
}

.banner {
  background-color: green;
  margin: 36px 36px 0 0;
  width: 682px;
  height: 367px;
  border-radius: 30px;
  display: flex;
  align-items: flex-end;
}

.banner:nth-child(2n) {
  margin-right: 0;
}
.bannerWrap {
  margin: 0 0 72px 55px;
  width: 278px;
}

.bannerTitle {
  font-family: var(--font-familyRosaMarena);
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 3px;
}

.bannerText {
  font-weight: 800;
  font-size: 40px;
  line-height: 44px;
}
