@font-face {
  font-family: "Rosa Marena";
  src: url("./rosamarena.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./opensans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
