.listItem {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--font-main-color);
}
.list {
  width: 519px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px 0 22px;
}
.listItemUppercase {
  text-transform: uppercase;
}

.listItemLink {
  text-decoration: none;
}

.listItemLink:hover {
  color: var(--color-green);
}
