.galleryWrap {
  background-color: #f1f8f4;
  width: 100vw;
}
.gallery {
  margin: 187px 0;
}
.galleryList {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.galleryListItem {
  margin-right: 42px;
}
.galleryListBtnWrap {
  width: 612px;
  height: 583px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galleryListItem:nth-child(3n) {
  margin-right: 0;
}
