.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 142px 0 165px 0;
}
.footerWrap {
  background-image: url("../../img/footerBgi.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1400px;
  border-radius: 28px;
}

.footerPromo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 104px 85px 101px 73px;
}
.footerPromoForm {
  display: flex;
  flex-direction: row;
}
.footerPromoTitle {
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  width: 454px;
  color: var(--color-white);
}
.footerEmail {
  background-color: var(--color-white);
  border: none;
  margin-right: 12px;
  width: 349px;
  height: 80px;
  border-radius: 16px;
  padding-left: 25px;
  font-size: 18px;
  font-style: italic;
}

.footerEmail:focus {
  border: transparent;
  outline: transparent;
}
.footerNav {
  display: flex;
  flex-direction: row;
  margin-top: 118px;
}
.footerNavContactTitle,
.footerNavUtilityTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}
.footerNavContactListItemTitle,
.footerNavSocialText,
.footerNavUtilityListItem {
  font-size: 18px;
  font-family: var(--font-familyOpenSans);
}

.footerNavContactTitle {
  margin-bottom: 32px;
  text-align: right;
}
.footerNavContactList {
  list-style: none;
  text-align: right;
}
.footerNavContactListItem {
  margin-bottom: 25px;
}
.footerNavContactListItemTitle {
  font-weight: 700;
  line-height: 30px;
}
.footerNavContactListItemSubtitle {
  font-weight: 400;
  line-height: 30px;
}
.footerNavSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 74px;
  width: 626px;
  margin-right: 60px;
  margin-left: 33px;
  border-right: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);
}

.footerNavSocialLogo {
  margin-bottom: 23px;
}
.footerNavSocialText {
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 29px;
}

.footerNavUtilityTitle {
  margin-bottom: 24px;
}
.footerNavUtilityList {
  list-style-type: none;
}
.footerNavUtilityListItem {
  margin-bottom: 25px;
}
.footerNavUtilityListLink {
  text-decoration: none;
  cursor: pointer;
}
