.wrap {
  width: 376px;
  height: 66px;
  border-radius: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e0dede;
}

.inputSeacrh {
  width: 80%;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.inputSeacrh:focus {
  border: transparent;
  outline: transparent;
}

.btn {
  width: 56px;
  height: 56px;
  border: none;
  background: transparent;
  border-radius: 30px;
  cursor: pointer;
}
