.pageBanner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 183px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.pageBannerText {
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;
  margin-left: -112px;
}
