.main {
  background-image: url("../../img/BannerBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 898px;
}

.text {
  margin: 251px 0 0 260px;
  width: 541px;
}
.natural {
  font-family: var(--font-familyRosaMarena);
  color: var(--color-green);
  font-weight: 500;
  font-size: 48px;
  line-height: 34px;
  letter-spacing: 1.5px;
}

.title {
  font-weight: 800;
  font-size: 70px;
  line-height: 75px;
}
